* {
    font-family: 'roboto', sans-serif;
}
/* Navbar */
.nav {
    background-color:#333333;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    text-decoration: none;

}

.nav-title {
    color: white;
    font-weight: lighter;
    align-items: center;
    display: flex;
}
#nav-links ul {
    width: 500px;
    list-style:none;
    padding:0;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#nav-links a{
    color:#cccccc; 
    text-decoration:none;
}

#nav-links{
    width: 500px;
    height: 100px;
    color: rgb(126, 88, 88);
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-size: large;
    text-decoration: none;
}

.active {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.btn {
    background-color: aquamarine;
    color: white;
    box-shadow: 5px 5px black;
    border: 10x;
    border-color: black;
}
/* End Navbar */

/* User Card */
.profile {
    width: 100px;
    height: 100px;
    position: relative;
    top: 20px;
    right: 10px;
    padding: 5px 20px;
}

.location img{
    width: 30px;
    height: 30px;
    position: relative;
    top: 5px;
}

.top {
    width: 900px;
    height: 90px;
    background-color: #12A3B8;
    border-style: solid;
    border-color: #12A3B8;
    border-width: 5px;
}

.bottom {
    width: 900px;
    height: 300px;
    background-color: white;
    border-style: solid;
    border-color: #CCCCCC;
    border-width: 5px;
}

.name {
    padding: 5px 20px;
}

.location {
    padding-left: 20px;
    padding-bottom: 10px;
    position: relative;
    right: 4px;
    font-weight: 500;
}

.about {
    padding-left: 20px;
}

.edit {
    position: relative;
    top: 4px;
}

.edit img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
    padding-left: 20px;

}

.bottom-content {
    position: relative;
    top: 55px;
}
/* End User Card */

/* Education Card */
.education-card {
    width: 900px;
    height: 300px;
    background-color: white;
    border-style: solid;
    border-color: #CCCCCC;
    border-width: 5px;
}

.top-bar {
    height: 45px;
    background-color: #333333;
    color: white;
    display: flex;
    align-items: center;
}

/* Connection Requests */
.connection-requests {
    width: 500px;
    height: 300px;
    background-color: white;
    border-style: solid;
    border-color: #CCCCCC;
    border-width: 5px;
}

.friend-request {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 50px;
    height: 50px;
    position: relative;
    padding: 5px 20px;
}

.numbers {
    width: 20px;
    height: 20px;
    color: white;
}

/* Your Connections */
.your-connections {
    width: 500px;
    height: 315px;
    background-color: white;
    border-style: solid;
    border-color: #CCCCCC;
    border-width: 5px;
}

.friend {
    display: flex;
    align-items: center;
}

.your-connections > .footer {
    border-style: solid;
    border-color: #CCCCCC;
    border-width: 5px;
    position: relative;
    right: 4px;
    height: 40px;
    width: inherit;
}

/* Box1 */

.main {
    height: 1000px;
    display: flex;
}

.box1 {
    background-color: white;
    flex: 2;
    justify-content: space-evenly;
}

.box2 {
    background-color: white;
    flex: 2;
    justify-content: space-evenly;
}
